*, *:after, *:before {
    box-sizing: border-box;
}

@font-face {
    font-family: 'ProximaNova-Black';
    src:
    local('ProximaNova-Black'),
    url('https://nomail.com.ua/files/eot/aa46d234cf405126cdd1c36600e4b978.eot?#iefix') format('embedded-opentype'),
    url('https://nomail.com.ua/files/woff/aa46d234cf405126cdd1c36600e4b978.woff') format('woff'),
    url('https://nomail.com.ua/files/woff2/aa46d234cf405126cdd1c36600e4b978.woff2')format('woff2');
}

body {
    font-family: 'Roboto', sans-serif;
    background: #070506 url("../img/main-bg.png") top right -150% no-repeat;
    background-size: contain;
    background-attachment: fixed;
    color: #fff;
}

.container {
    width: 90%;
    max-width: 1060px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    padding-top: 90px; 
}

.header-logo {
    margin-right: 70px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    margin-right: 15px;
}

.hero-subtitle {
    display: block;
    margin-top: 78px;
    font-size: 40px;
    line-height: 100%;
    font-family: 'ProximaNova-Black', sans-serif;
}

.hero-title {
    font-size: 64px;
    line-height: 100%;
    font-family: 'ProximaNova-Black', sans-serif;
    margin-bottom: 25px;
}

.hero-description {
    max-width: 572px;
    font-size: 18px;
    line-height: 150%;
    color: #afafaf;
}

.hero-premier {
    display: block;
    font-size: 18px;
    line-height: 150%;
    color: #b02000;
    margin-bottom: 5px;
}

.hero-date {
    display: block;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 46px;
}

.button-play {
    position: relative;
    border: none;
    background: linear-gradient(90deg, #fb641a 0%, #fc3309 100%);
    border-radius: 300px;
    color: #fff;
    padding: 25px 35px;
    padding-right: 80px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    display: inline-block;
}

.button-play:after {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    background: #fff url("../img/polygon.svg") center no-repeat;
    border-radius: 50%;
    right: 0;
    top: 0;
}

.button-play:before {
    content: "";
    width: 81px;
    height: 81px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    right: -8px;
    top: -8px;
}

.episodes {
    padding: 60px 0;
}

.episodes-title {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 24px;
}

.slider {
    display: flex;
    flex-wrap: wrap;
}

.slider-item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    min-height: 200px;
    margin-right: 20px;
    margin-bottom: 20px; 
    padding: 30px;
    box-shadow: 0px 10px 26px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.slider-item:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(80, 80, 80, 0.86);
    transition: all 0.2s;
}

.slider-item:hover:before {
    background-color: rgba(64, 101, 255, 0.86);
}

.slider-img {
    position: absolute;
    display: block;
    width: 250px;
    left: 0px;
    top: 0;
    z-index: -2;
}

.slider-rating-label {
    margin-right: 10px;
}

.star {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../img/star.svg') no-repeat center;
}

.star-o {
    background: url('../img/star-o.svg') no-repeat center;
}

.slider-nav-left {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../img/left-arrow.svg') no-repeat center;
    margin-right: 15px;
    cursor: pointer;
}

.slider-nav-right {
    width: 32px;
    height: 32px;
    border: none;
    background: transparent url('../img/right-arrow.svg') no-repeat center;
    cursor: pointer;
}

.slider-nav-right span, .slider-nav-left span {
    display: none;
}

/* Media requests */
@media (max-width: 600px) {
    .hero-subtitle {
        font-size: 24px;
    }
    .hero-title {
        font-size: 36px;
        line-height: 120%;
    }
    .hero-description {
        font-size: 16px;
    }
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-logo {
        margin-bottom: 30px;
    }
    .nav {
        display: flex;
        flex-direction: column;
    }
    .nav-link {
        margin-bottom: 10px;
    }
}